<!DOCTYPE html>
<html>
<head>
  <style>table, th,td {border: 2px solid blueviolet;}</style>  
  <title>Sentiment Analysis</title>
</head>
<body>
  <ul></ul>
  <h2> Movie Sentiment Analysis </h2>
  <p>
    "Kirubananth - TLP'23"
  </p>
  <hr><hr>
  <b>Navigation Bar</b>
  <a href="/home">Home</a>
  <a href="/data">Data</a>
  <hr><hr>
  <main>
    <p>Welcome! Please enter your review for the movie 'The Room'</p>
    <form method = "POST">
      <textarea id="review" name="text1" placeholder="your review please..." rows="10" cols="110"></textarea>
      <br><br>
      <input class = "example_a" type="submit" value="Submit Review">
    </form>
  </main>
</body>
</html>
